/*
 * This file is part of Weather Station project <https://github.com/VeniaminGH/Weather-Station>.
 * Copyright (c) 2024 Veniamin Milevski
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3.
 *
 * This program is distributed WITHOUT ANY WARRANTY. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/gpl-3.0.html>.
 *
 */

#include "../../../../include/wst_sensor_types.h"

&i2c0 {
	bmi160_i2c_0: bmi@68 {
		compatible = "bosch,bmi160";
		reg = <0x68>;
	};

	bmi160_i2c_1: bmi@69 {
		compatible = "bosch,bmi160";
		reg = <0x69>;
	};
};

/ {
	sensor_config: sensor-config {
		compatible = "wst,sensor-config";
		status = "okay";

		polling-interval-ms = <1000>;

		accel_gyro: accel-gyro {
			compatible = "wst,sensor";
			status = "okay";

			friendly-name = "Accel Gyro Sensor";
			channel-types = <
				WST_CHANNEL_TYPE_ACCEL_XYZ
				WST_CHANNEL_TYPE_GYRO_XYZ
			>;
			sensor-device = <&bmi160_i2c_0>;
		};

		die_temp: die-temp {
			compatible = "wst,sensor";
			status = "okay";

			friendly-name = "Die Temp Sensor";
			channel-types =
				<WST_CHANNEL_TYPE_DIE_TEMP>;
			sensor-device = <&bmi160_i2c_1>;
		};
	};
};
