/*
 * This file is part of Weather Station project <https://github.com/VeniaminGH/Weather-Station>.
 * Copyright (c) 2024 Veniamin Milevski
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3.
 *
 * This program is distributed WITHOUT ANY WARRANTY. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/gpl-3.0.html>.
 */

#include "wst_sensor_types.h"

/ {
	leds: leds {
		red_led_3: led_2 {
			gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>;
			label = "User LED3";
		};
	};

	aliases {
		led0 = &blue_led_1;
		led1 = &green_led_2;
		led2 = &red_led_3;
	};
};

&i2c2 {
	bme680_i2c: bme680@76 {
		// 0x76 - SDO <-> GND
		// 0x77 - SDO <-> VCC
		compatible = "bosch,bme680";
		reg = <0x76>;
	};

	bh1750_i2c: bh1750@23 {
		// 0x23 - ADDR <-> GND
		// 0x5c - ADDR <-> VCC
		compatible = "rohm,bh1750";
		reg = <0x23>;
	};
};

/ {
	sensor_config: sensor-config {
		compatible = "wst,sensor-config";
		status = "okay";

		polling-interval-ms = <5000>;

		die_temp_sensor: die-temp-sensor {
			compatible = "wst,sensor";
			status = "okay";

			friendly-name = "Die Temp Sensor";
			channel-types =
				<WST_CHANNEL_TYPE_DIE_TEMP>;
			sensor-device = <&die_temp>;
		};

		env_sensor: env-sensor {
			compatible = "wst,sensor";
			status = "okay";

			friendly-name = "Environment Sensor";
			channel-types = <
				WST_CHANNEL_TYPE_AMBIENT_TEMP
				WST_CHANNEL_TYPE_HUMIDITY
				WST_CHANNEL_TYPE_PRESS
				WST_CHANNEL_TYPE_GAS_RES
			>;
			sensor-device = <&bme680_i2c>;
		};

		light_sensor: light-sensor {
			compatible = "wst,sensor";
			status = "okay";

			friendly-name = "Light Sensor";
			channel-types =
				<WST_CHANNEL_TYPE_LIGHT>;
			sensor-device = <&bh1750_i2c>;
		};
	};
};
